name: Selenium Test

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Run Tests
        run: mvn clean test

      - name: Upload Extent Report
        uses: actions/upload-artifact@v4
        with:
          name: Extent-Report
          path: reports/extent-report.html
